* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
nav {
	background-color: pink;
	top:0px;

  	background-clip: text;
  	color: transparent;
}
.navbar-brand {
	font-family: 'Rubik Mono One', sans-serif;
	color: white;
}
#navbarNav {
	font-family: 'Playfair Display', serif;
}
#navbarNav:hover {
	background-color: pink;
}

body #landing-page {
	height: 100vh;
	text-align: center;
	padding-top: 50px;
	background: 
	linear-gradient(
			 rgba(39, 33, 36, 0.8),
			 rgba(39, 33, 36, 0.8)
		),
		url("https://coolwallpapers.me/picsup/5739499-black-mountain-wallpapers.jpg");
		background-repeat: no-repeat;
		background-size: cover;
;
}

#landing-page {
	text-align: center;
	padding: auto;
	font-family: 'Playfair Display', serif;
	font-size: 80px;
	color: white;
	padding-bottom: 40px;
}
#landing-pic {
	border-radius: 50px;
}
.content-1 {
	border-radius:80% ;
}
#project-title {
	text-align: center;
	font-family: 'Playfair Display', serif;
	font-style: normal;
	font-weight: 700;
	font-size: 40px;
	line-height: 32px;
}
#illustrations {
	text-align: center;
	font-family: 'Playfair Display', serif;
	font-style: normal;
	font-weight: 700;
	font-size: 30px;
	line-height: 32px;
}
#design {
	text-align: center;
	font-family: 'Playfair Display', serif;
	font-style: normal;
	font-weight: 700;
	font-size: 30px;
	line-height: 32px;
}
#prog {
	text-align: center;
	font-family: 'Playfair Display', serif;
	font-style: normal;
	font-weight: 700;
	font-size: 30px;
	line-height: 32px;
}
#p-1 {
	text-align: justify;
}
#p-2 {
	text-align: justify;
}
#p-3 {
	text-align: justify;
}
.card-link {
	text-align: center !important;
}
#core-tools{
	text-align: center;
	font-family: 'Playfair Display', serif;
	font-style: normal;
	font-weight: 700;
	font-size: 40px;
	line-height: 32px;

}


.card-title {
	font-weight:;
}

#about-me {
			display: flex;
		}
		
		.left {
			border-right: 2px solid black;
			padding: 10px;
			flex: 1;
			background-color: #FFABAB;

		}
		
		.right {
			padding: 10px;
			flex: 1;
			background-color: white;

		}
.about {
	font-family: 'Rubik Mono One', sans-serif;
	padding-top: 50px;
	padding-bottom: 50px;
	
}

.contact-me {
	color: black;
	padding-bottom: 5px;

	
}
#contacts {
	background-color: #FCC8D1;
	color: black;
	padding-top: 100px;
}
.btn-primary {
	background-color: pink;
	padding: 10px;
	color: black;
}



/*.facebook {
	padding: 0px;
	width: 100px;
	text-decoration: none;
	margin-right:20px;

}
.facebook:hover {
	opacity: 0.7;
}
.linkedin {
	padding: 0px;
	width: 40px;
	text-decoration: none;
	margin-right: 20px;
}
.linkedin:hover {
	opacity: 0.7;
}
.behance {
	padding: 0px;
	width: 45px;
	text-decoration: none;
}
.behance:hover {
	opacity: 0.7;
}
.instagram {
	padding: 0px;
	width: 60px;
	text-decoration: none;
}
.instagram:hover {
	opacity: 0.7;
}*/

.cards {
	padding-bottom: 90px;
}

/* Text Animation */

.wrapper.four {
    
    font-size: 3rem;
    font-family: 'Playfair Display', serif;


}
.four .type{
    padding: 2rem 1rem;
    width: auto;
    margin: auto;
}
.four h3 {
    width: 13ch;
    border-right: 4px solid black;
    margin: 2rem auto;
    white-space: nowrap;
    overflow: hidden;
    animation: typing 2s steps(13, end), blink-caret 0.5s step-end infinite alternate;
}
@-webkit-keyframes typing {
    from {
        width: 0;
    }
}
@-webkit-keyframes blink-caret {
    50% {
        border-color: transparent;
    }
}
/*About Me Section*/
#about {
	background: pink;
}
#text-title {
	font-family: 'Playfair Display', serif;
	font-style: normal;
	font-weight: 700;
	font-size: 40px;
	line-height: 32px;
	/* identical to box height, or 133% */
	color: black;
}
#about p {
	font-family: 'Playfair Display', serif;
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 24px;
	/* or 150% */
	color: black;
}
#contact {
	background-color: pink;
}

#contact-header {
	font-family: 'Playfair Display', serif;
	font-style: normal;
	font-weight: 700;
	font-size: 40px;
	line-height: 32px;
	/* identical to box height, or 133% */
	color: black;
}
#contact-text {
	font-family: 'Playfair Display', serif;
	font-style: normal;
	font-weight: 500;
	font-size: 20px;
	line-height: 24px;
	/* or 150% */
	color: black;
}
#social-header {
	font-family: 'Playfair Display', serif;
	font-style: normal;
	font-weight: 700;
	font-size: 60px;
	line-height: 32px;
	/* identical to box height, or 133% */
	color: black;
}
#contact form label {
	font-family: 'Playfair Display', serif;
	font-style: normal;
	font-weight: 600;
	font-size: 20px;
	line-height: 24px;
	display: flex;
	align-items: center;
	color: hotpink !important;

}
#form-btn {
	padding: 8px 24px;
	gap: 8px;
	background: hotpink;
	border-radius: 2px;
	font-family: 'Playfair Display', serif;
	font-style: normal;
	font-weight: 800;
	font-size: 16px;
	line-height: 24px;
	/* identical to box height, or 150% */
	text-align: center;
	color: black;

}

#pre-footer {
	text-align: center;
	font-family: 'Playfair Display', serif;
	font-style: normal;
	font-weight: 700;
	font-size: 40px;
	line-height: 32px;
	padding-top: 20px;
}

footer {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 600;
	font-size: 13px;
	line-height: 24px;
	/* identical to box height, or 185% */

	text-align: center;

	color: black;
	background-color: hotpink;

}
